/* CSS RESET
------------------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
blockquote,q{quotes:none;}
blockquote:before, blockquote:after,
q:before,q:after {content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}

/* BASIC STYLES
------------------------------------*/
body {
	background: #fff;
	color: #444;
	font: 300 100% 'museo-sans', arial, helvetica, sans-serif;
	line-height: 140%;
	}
a:link { color: #479492; }
a:hover, a:active { color: #da5936; }
b, strong { font-weight: bold; }
em. i { font-style: italic; }
a.button {
	background: #f3951d;
	border: none;
	color: #fff;
	font: 1em/1 arial, helvetica, sans-serif;
	padding: 10px 20px;
	text-decoration: none;
	/* CSS 3 */
	background: -moz-linear-gradient(top,  #f3951d,  #ec6e0d);
	background: -webkit-gradient(linear, left top, left bottom, from(#f3951d), to(#ec6e0d));
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
    -webkit-box-shadow:  1px 1px 0 rgba(153, 153, 153, .75);
    -moz-box-shadow:  1px 1px 0 rgba(153, 153, 153, .75);
    box-shadow:  1px 1px 0 rgba(153, 153, 153, .75);         
	text-shadow: -1px -1px 0 #aaa;
    filter: dropshadow(color=#aaa, offx=1, offy=1);
	}
	a.button:hover {
		background: #F3951D;
		/* CSS 3 */
		background: -webkit-gradient(linear, left top, left bottom, from(#f3951d), to(#dd6e0d));
		background: -moz-linear-gradient(top,  #f3951d,  #dd6e0d);
		}

/* CONTAINER FOR TOP HALF OF PAGE
------------------------------------*/
#top {
	padding: 0 20px;
	margin: 0 auto;
	width: 920px;
	}

/* HEADER
------------------------------------*/
#header {
	height: 75px;
	}
#header img {
	float: left;
	height: 58px;
	margin: 10px 0;
	width: 188px;
	}
#header p {
	float: right;
	margin-top: 20px;
	min-height: 36px;
	width: 35%;
	}
	#header p a {
		float: right;
		}
	#header p em {
		background: url(../img/get-notifications.png) no-repeat;
		display: block;
		float: left;
		height: 28px;
		margin-top: 6px;
		text-indent: -999em;
		width: 208px;
		}
	
/* MAIN CONTENT AREA
------------------------------------*/
h1 {
	clear: both;
	color: #3a878b;
	font: 500 3em 'museo-slab', georgia, times, 'times new roman', serif;
	text-align: center;
	}
h2 {
	color: #eb8723;
	font: 500 1.2em 'museo-slab', georgia, times, 'times new roman', serif;
	}
h3 {
	color: #333;
	font: 500 .9em 'museo-slab', georgia, times, 'times new roman', serif;
	margin-bottom: .5em;
	}
p#sub-title {
	font: 1.2em 'museo-sans', arial, helvetica, sans-serif;
	margin: -.25em 0 1.5em;
	text-align: center;
	}
#content {
	clear: both;
	height: auto;
	margin-bottom: -20px;
	min-height: 600px;
	}
	#content li, #content p {
		font-size: .9em;
		margin-bottom: 1.5em;
		}
	#content ul {
		margin-bottom: 1.5em;
		margin-left: 1.1em;
		}
	#content ul.requirements li {
		margin-bottom: .25em;
		}
#viz {
	float: right;
	height: 600px;
	margin-top: -3px;
	width: 600px;
	}
body.upgrade #content {
	min-height: 530px;
	}
body.upgrade #viz {
	height: 530px;
	margin-top: -3px;
	width: 600px;
	}
.box {
	float: left;
	font-size: .9em;
	line-height: 130%;
	margin-right: 50px;
	margin-bottom: 1em;
	min-height: 205px;
	padding: 15px;
	width: 243px;
	}
	.box a, .box h2 {color: #fff;}
	.box h2 {
		font-weight: 700;
		margin-bottom: .5em;
		}
#mw {
	background: url(../img/mw-bg.png) no-repeat;
	color: #fff;
	}
#browser {
	background: url(../img/browser-bg.png) no-repeat;
	color: #fff;
	}
#more {
	background: url(../img/more-bg.png) no-repeat;
	color: #fff;
	margin-right: 0;
	}
#browser-note {
	clear: both;
	margin: 0 0 1em;
	text-align: center;
	}
#subscribe {
	background: #f4b626;
	color: #fff;
	height: auto;
	min-height: 125px;
	padding: 25px 0;
	text-align: center;
	}
	#subscribe em {
		background: url(../img/subscribe-for-updates.png) no-repeat center top;
		clear: both;
		display: block;
		min-height: 39px;
		text-indent: -999em;
		text-align: center;
		width: 100%;
		}

/* FOOTER
------------------------------------*/
#footer-wrap {
	background: #f9eec1;
	}
#footer {
	margin: 0 auto;
	padding: 20px;
	width: 920px;
	}
	#footer h2 { margin-bottom: 1em; }
	#footer p, #footer ul {
		font-size: .9em;
		margin-bottom: 1em;
		}
#sidebar {
	float: right;
	margin-left: 67px;
	width: 273px;
	}
	#sidebar h2 {
		background: url(../img/footer-h2-bg.png) no-repeat;
		color: #f9eec1;
		height: 23px;
		padding: 8px 15px;
		}
#social-media li {
	float: left;
	height: 64px;
	list-style: none;
	margin-right: 10px;
	width: 64px;
	}
	#social-media li a {
		display: block;
		height: 64px;
		text-indent: -999em;
		width: 64px;
		}
	#social-media li#facebook a {
		background: url(../img/social/facebook.png) no-repeat;
		}
	#social-media li#twitter a {
		background: url(../img/social/twitter.png) no-repeat;
		}
	#social-media li#gplus a {
		background: url(../img/social/gplus.png) no-repeat;
		}
	#social-media li#linkedin a {
		background: url(../img/social/linkedin.png) no-repeat;
		}
	#social-media li#rss a {
		background: url(../img/social/rss.png) no-repeat;
		}
#copyright {
	clear: both;
	height: 100px;
	}