/* CSS RESET
------------------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
blockquote,q{quotes:none;}
blockquote:before, blockquote:after,
q:before,q:after {content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}

/* BASIC STYLES
------------------------------------*/
body {
	background: #fff;
	color: #3f3f3f;
	font: 100% arial, helvetica, sans-serif;
	line-height: 140%;
	}
b, strong { font-weight: bold; }
em. i { font-style: italic; }
a.button {
	background: #f3951d;
	border: none;
	color: #fff;
	font: 12px/1 arial, helvetica, sans-serif;
	padding: 8px 14px;
	text-decoration: none;
	/* CSS 3 */
	background: -moz-linear-gradient(top,  #f3951d,  #ec6e0d);
	background: -webkit-gradient(linear, left top, left bottom, from(#f3951d), to(#ec6e0d));
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px;
	}
	a.button:hover {
		background: #F3951D;
		/* CSS 3 */
		background: -webkit-gradient(linear, left top, left bottom, from(#f3951d), to(#dd6e0d));
		background: -moz-linear-gradient(top,  #f3951d,  #dd6e0d);
		}

/* CONTAINER FOR TOP HALF OF PAGE
------------------------------------*/
#top {
	padding: 0 20px;
	margin: 0 auto;
	width: 920px;
	}

/* HEADER
------------------------------------*/
#header {
	height: 75px;
	}
#header img {
	float: left;
	height: 58px;
	margin: 10px 0;
	width: 188px;
	}
#header p {
	float: right;
	margin-top: 25px;
	text-align: right;
	width: 50%;
	}
	
/* MAIN CONTENT AREA
------------------------------------*/
h1 {
	clear: both;
	color: #3a878b;
	font: 3em georgia, times, 'times new roman', serif;
	text-align: center;
	}
h2 {
	color: #eb8723;
	font: bold 1.2em georgia, times, 'times new roman', serif;
	}
p#sub-title {
	font: 1.2em arial, helvetica, sans-serif;
	margin-bottom: 1.5em;
	text-align: center;
	}
#content {
	clear: both;
	height: auto;
	min-height: 600px;
	}
#content li, #content p {
	font-size: .9em;
	margin-bottom: 1.5em;
	}
#content ul {
	margin-left: 1.1em;
	}
#viz {
	float: right;
	height: 600px;
	width: 620px;
	}
.box {
	float: left;
	font-size: .9em;
	margin-right: 50px;
	margin-bottom: 1em;
	min-height: 198px;
	padding: 10px;
	width: 240px;
	}
	.box a, .box h2 {color: #fff;}
#mw {
	background: #3a878b;
	color: #fff;
	}
#browser {
	background: #75a643;
	color: #fff;
	}
#more {
	background: #eb8723;
	color: #fff;
	margin-right: 0;
	}
#browser-note {
	clear: both;
	margin: 0 0 1em;
	text-align: center;
	}
#subscribe {
	background: #f4b626;
	color: #fff;
	height: 25px;
	padding: 25px 0;
	text-align: center;
	}

/* FOOTER
------------------------------------*/
#footer-wrap {
	background: #f9eec1;
	}
#footer {
	margin: 0 auto;
	padding: 20px;
	width: 920px;
	}
#footer p, #footer ul {
	font-size: .9em;
	margin-bottom: 1em;
	}
#sidebar {
	float: right;
	margin-left: 40px;
	width: 300px;
	}